.vscode/
**/__pycache__
**/density_maps/
auriga.egg-info
auriga/__pycache__
trash
images/density_maps
notes
data/aquarius
galaxies.txt
data/lian_2023
data/grand_2017.csv
images/merger_effects
pbd
data/cooling
images/warm_disc_star_tracking/temp/
movies